{{> head }}

<body>
  {{> header }}
  <div id="container">
        <div class="blog-post">
            <div class="header-image-container">
                <div class="header-image">
                    <img src="{{contents.image}}" />
                </div>
                <div class="header-text">
                    <h1>{{ contents.title }}</h1>
                </div>
                <div id="overlay"></div>
            </div>
            <div class="content-container">
                <span>{{ contents.created }}</span>
                <br>
                {{{ contents.content }}}
            </div>
        </div>
  </div>
<!-- Create the toolbar container -->
<div id="form-container-edit" class="container">
   <form id="blog-post-editor" action="/post" method="POST" enctype="multipart/form-data">

          <input id="id" class="form-control" name="_id" type="text" hidden="true" value="{{ contents._id }}
">
          <div class="input-container">
              <input id="url" class="form-control" name="url" type="text" hidden="true" value="{{ contents.url }}
">
            </div>

          <div class="input-container">
              <input id="title" class="form-control" name="title" type="text" placeholder="Enter Title" value="{{ contents.title }}
">
          </div>

          <div class="input-container">
              <textarea id="description" class="form-control" name="description" type="text" placeholder="Enter Description" minlength="0" maxlength="150"> {{{ contents.description }}}</textarea>
          </div>

          <div class="row form-group">
              <label for="about">Content</label>
              <input name="content" type="hidden">
              <div id="editor-container">
                  {{{ contents.content }}}
              </div>
          </div>

          <div class="input-container">
              <button type="submit">Save Post</button>
            </div>
        </form>

</div>
</div>

 </div>
<script>
window.onload = function() {
    var src = document.getElementById("title"),
        dst = document.getElementById("url");
    src.addEventListener('input', function() {
        dst.value = src.value.replace(/ +/g, '-').toLowerCase();
    });
};
</script>  

 <script type="text/javascript" src="js/quillEditor.js"></script>
{{> footer }}
</body>
</html>


